<footer class="footer" >
  <div class="footer__ball">
    <a href="#header__new" class="footer__ball--box">
      <img src="./assets/images/ico-arrow.svg" alt="">      
    </a>
  </div>
  <nav class="footer__index">
    <a class="footer__index--link" href="https://adalab.es/">ARTICLES</a>
    <a class="footer__index--link" href="https://adalab.es/">BOOKS</a>
    <a class="footer__index--link" href="https://adalab.es/">EVENTS</a>
    <a class="footer__index--link" href="https://adalab.es/">REASONS</a>
    <a class="footer__index--link" href="https://adalab.es/">TIPS</a>
  </nav>

  <nav class="footer__networks">
    <a class="footer__networks--one" href="https://adalab.es/">TWITTER</a>
    <a class="footer__networks--one" href="https://adalab.es/">INSTAGRAM</a>
    <a class="footer__networks--one" href="https://adalab.es/">MASTODON.SOCIAL</a>
  </nav>
  <div class="footer__copy" >
    <P class="footer__copy--number" >&copy;2023</P>
    <p>we <i class="fa-solid fa-heart" ></i> components</p>
  </div>
    </footer>