<header class="header" id="header__new">
      <div class="header__icon">
            <a href="">
                  <img class="header__icon--tres" src="./assets/images/ico-menu.svg" alt="landscape buildings">
            </a>
      </div>
      
      <div class="header__text">
            <h1 class="header__text--title">ANONYMOUS PROXY</h1>
            <p class="header__text--para">In hac habitasse platea dictumst.</p>
            <a href="#reasons__section" class="header__text--box">
                  <img src="./assets/images/ico-scroll-down.svg" alt="">      
            </a>
            </div>
      </div>
</header>