<section class="reasons" id="reasons__section">
        <h2 class="reasons__h2">3 Reasons To Purchase</h2>
        
        <include class="reasons__inone" src="./reasonstwo.html" reasontitle="Ut sed metus" reasontext="Lorem ipsum dolor sit amet, consecteur."></include>

        <include class="reasons__intwo" src="./reasonstwo.html" reasontitle="Curabitur ac erat" reasontext="Mauris mattis urna quis lorem molestie."></include>

        <include class="reasons__inthree" src="./reasonstwo.html" reasontitle="Morbi dictum" reasontext="Aliquam in dolor et dolor tincidunt."></include>
        
        <div class="reasons__more">
          <nav class="reasons__more--orange">
            <a>More reasons</a>
          </nav>
        </div>
        
      </section>