<section class="reasons">
        <h2 class="reasons__h2">3 Reasons To Purchase</h2>
        <div class="reasons__box">
          <include src="./reasonstwo.html" reasontitle="Ut sed metus" reasontext="Lorem ipsum dolor sit amet, consecteur."></include>

          <include src="./reasonstwo.html" reasontitle="Curabitur ac erat" reasontext="Mauris mattis urna quis lorem molestie."></include>

          <include src="./reasonstwo.html" reasontitle="Morbi dictum" reasontext="Aliquam in dolor et dolor tincidunt."></include>
        </div>
        <nav class="reasons__more">
          <a>More reasons</a>
        </nav>
      </section>