.reasons {
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__h2 {
        font-family: $font-roboto;
        font-weight: bold;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 45px;
         
    }
    &__box {
        
        @include tablet () {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
    &__more {
        background-color: $color-orange;
        width: 184px;
        height: 45px;
        border-radius: 22.5px;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $font-roboto;
        font-size: 1.25rem;
        margin-bottom: 60px;
        &:hover {
            background-color: $color-lightblue;
            cursor: pointer;
                }
        
    }
    
}

/*scss reasonstwo*/
.article {
    margin: $margin;
    margin-bottom: 45px;
    &__title {
        font-family: $font-roboto-slab;
        font-size: 1.12rem;
        font-weight: bold;
        line-height: 1.9rem;
        line-height: 1.67rem;
    }
    &__para {
        font-family: $font-roboto;
        font-size: 1.12rem;
        line-height: 1.9rem;
        width: 180px;

    }
}