$font-roboto-slab: 'Roboto Slab', serif;;
$font-roboto: 'Roboto', sans-serif;
$color-orange: #f26002;

$margin: 15px;

$color-greyish: #4a4a4a;
$color-lightblue: #8ccbea;
$color-k-50: rgba(0, 0, 0, 0.5);
$color-k-20: rgba(0, 0, 0, 0.2);
$color-white: #ffffff;
$color-ice-blue: #eff9ff;
$color-black: #000000;
$color-footer: #304268;

$size15: 0.94rem;
$size16: 1rem;
$size18: 1.2rem;
$size20: 1.25rem;
$size24: 1.5rem;
$size30: 1.88rem;
$size32: 2rem;
