$font-roboto-slab: 'Roboto Slab', serif;;
$font-roboto: 'Roboto', sans-serif;
$color-orange: #f26002;
$margin: 15px;
$color-greyish: #4a4a4a;
$color-lightblue: #8ccbea;
$color-k-50: rgba(0, 0, 0, 0.5);
$color-k-20: rgba(0, 0, 0, 0.2);
$color-white: #ffffff;
$color-ice-blue: #eff9ff;
$color-black: #000000;
