.footer {
    background-color: $color-footer;
    font-family: $font-roboto;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    
    &__index, &__networks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
        
        
        &--link, &--one {
            text-decoration: none;
            color: $color-white;
            line-height: 1.88;
            
        }
    }
    &__copy {
        margin: 30px;
        padding-bottom: 45px;
        

        &--number {
            line-height: 2.14;
        }
    }
    
    
}