.header {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: auto 100%;
    position: relative;
    top: -15px;
    
    @include desktop () {
            background-repeat: no-repeat;
            background-size: cover;
        }
    
    &__icon {
        width: 40px;
        height: 40px;
        background-color: #0271bc;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        &:hover {
            background-color: $color-lightblue;
            cursor: pointer;
                }
        
        &--tres {
            width: 14px;
            height: 14px;    
        }
    }
    &__text {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        height: 90%;
        align-items: center;
        justify-content: flex-end;
        margin: 15px 15px 0px 15px;
        
        
        
       
                  
        &--title  {
            font-family: $font-roboto-slab;
            font-size: 2.63rem;
            font-weight: bold;
            text-align: center;
            line-height: 3.5rem;
            @include tablet () {
                font-size: 5rem;
                line-height: 6.6rem;
            }
            @include desktop () {
                font-size: 6.25rem;
                line-height: 8.25rem;
                width: 730px;
            }
        }
        &--para {
            font-family: $font-roboto;
            font-size: $size16;
            line-height: 1.9rem;
            @include tablet () {
                font-size: $size24;
                margin-top: 20px;
            }
        }
        &--box {
            background-color: #ffffff;
            height: 45px;
            width: 45px;
            border-radius: 75%;
            display: flex;
            justify-content: center;
            margin: 45px 0px 0px 0px;
            &:hover {
                background-color: $color-lightblue;
                cursor: pointer;
                    }
                }
                
            
        }
    }
                   



 

    
    
