.looking {
    display: flex;
    flex-direction: column;
    margin: 15px 15px 45px 15px;
    @include tablet () {
        margin: 40px 40px 60px 40px;
    }
    @include desktop () {
         margin: 40px 0px 60px 275px; 
         width: 730px;  
            
        }
    &__small{
        color: #8ccbea;
        font-family: $font-roboto;
        font-size: 0.87rem;
        line-height: 2.14;
        @include desktop () {
            font-size: size16;
            line-height: $size30;
            
        }
    }
    &__title {
        font-family: $font-roboto-slab;
        font-size: $size24;
        font-weight: bold;
        line-height: $size20;
        margin-bottom: $margin;
        @include desktop () {
            font-size: $size32;
            line-height: $size30;
            margin-top: $margin;
        }
    }
    &__text {
        font-family: $font-roboto;
        font-size: $size18;
        line-height: 1.6rem;
        @include desktop () {
            font-size: $size20;
            line-height: $size24;
        }
        
    }
    &__go {
        border: solid 3px $color-orange;
        height: 45px;
        width: 76px;
        border-radius: 22.5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
        
        
        &:hover {
            background-color: $color-footer;
            cursor: pointer;
            transition-duration: 0.5s;
                }
        
        }
        @include tablet () {
            height: 45px;
            width: 91px;
        }
        @include desktop () {
            height: 45px;
            width: 160px;
        }

            &--text {
                text-decoration: none;
                color: $color-orange;
                font-family: $font-roboto;
                font-size: $size20;
                font-weight: bold;
            }
    }
    /*al poner las transiciones el texto no aplicaba nada*/
    .looking__go--text {
        text-decoration: none;
        text-decoration: none;
        color: $color-orange;
        font-family: $font-roboto;
        font-size: $size20;
        font-weight: bold;
    }